<div class="bottom">
  <div class="align">
    <div class="number">
      <div class="padding">
        <div class="regions_call">
          <div class="regions_call_left">
            10.00-21.00 ежедневно
            <br/>
            <span class="nm">+7 (495) 287 3392</span>
          </div>
          <div class="regions_call_right">
            Для звонков из регионов
            <br/>
            <span class="nm">8 (800) 555 8411</span>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="bottom_grey">
  <ul>
    <li><%= link_to 'Полезное', '#', class: 'footer-nav' %></li>
    <%= image_tag 'bullet.png', class: 'bullet' %>
    <li><%= link_to 'Оплата и доставка', '#', class: 'footer-nav' %></li>
    <%= image_tag 'bullet.png', class: 'bullet' %>
    <li><%= link_to 'Другие товары', '#', class: 'footer-nav' %></li>
    <%= image_tag 'bullet.png', class: 'bullet' %>
    <li><%= link_to 'Контакты', '#', class: 'footer-nav' %></li>
  </ul>
</div>
