<div class='modal-header'>
  <button class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
  <h4>Счет №<%= order.try(:id) %></h4>
</div>
<div class='modal-body'>
  <%= content_tag :fieldset, class: 'clearfix' do %>
    <dl class='dl-horizontal'>
      <dt>Дата</dt>
      <dd><%= l order.updated_at, format: :long %></dd>
      <dt>Адрес Доставки</dt>
      <dd><%= order.address.full_address %></dd>
    </dl>
  <% end %>
  <%= render 'items/items', items: order.items, partial_type: 'item' %>
  <table class='table total'>
    <tfoot>
      <tr>
        <td></td>
        <th width='165' class='right'>Общая цена за товар</th>
        <td width='90'><%= number_to_price(order.total) %></td>
      </tr>
      <tr>
        <td></td>
        <th>Цена за доставку</th>
        <td><%= number_to_price(order.address.rate) %></td>
      </tr>
      <tr>
        <td></td>
        <th>Баланс</th>
        <td><%= number_to_price(order.balance) %></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class='modal-footer'>
  <div class='pull-left'>
    <span class='label label-success'><%= order.state.humanize %></span>
  </div>
  <button class='btn' data-dismiss='modal' aria-hidden='true'>Закрыть</button>
  <%= link_to order_path(order, format: "pdf"), class: 'btn' do %>
    <i class='icon-print'></i> Распечатать счет
  <% end %>
</div>