<header>
  <div class='container'>
    <h1>Войти в систему</h1>
    <p class='lead'>Нет учетной записи? <%= link_to "Зарегистрироваться,", new_user_registration_path %></p>
  </div>
</header>
<div class="container">
  <div class='row'>
    <div class='span7 offset3'>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: "form-horizontal well well-elderflower no-actions"}) do |f| %>
        <%= content_tag :fieldset do %>
          <div class='control-group'>
            <%= f.label :email, class: 'control-label' %>
            <div class='controls'>
              <%= f.email_field :email, placeholder: "Ваш Email", autofocus: true %>
            </div>
          </div>
          <div class='control-group'>
            <%= f.label :password, 'Пароль', class: 'control-label' %>
            <div class='controls'>
              <%= f.password_field :password, placeholder: "Пароль" %>
            </div>
          </div>
          <div class='control-group'>
            <%= content_tag :label, "Запомнить Меня", class: 'control-label' %>
            <div class='controls'>
              <% if devise_mapping.rememberable? %>
                <%= content_tag :label, class: 'checkbox' do %>
                  на две недели <%= f.check_box :remember_me %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class='control-group no-bottom'>
            <%= content_tag :label, class: 'control-label' do %>
              <%= link_to "Забыли Пароль?", new_password_path(resource_name) %>
            <% end %>
            <div class='controls'>
              <%= f.submit "Войти в систему", class: 'btn btn-success span3' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
